<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <img class="hero" 
          [lazyLoad]="staticAssetsUrl + 'static/img/payments/slider-new_year_2.jpg'"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" 
          alt="Зимняя коллекция TRIBES">
      </div>
    </div>
    <app-section-divider [section]="'Условия и правила возврата товаров и денег'" [h]="'h2'"></app-section-divider>
    <div class="row pb-2 pt-2">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h3>Возврат товара</h3>
        <p>Возврат товаров осуществляется в более 7000 фирменных пунктах самовывоза в России и СНГ.
        <p><strong>Просим обратить внимание на то, что возврат осуществляется в соответствии с условиями:</strong></p>
        <ul>
          <li>Комплект возвращаемых вещей должен быть сохранен (наличие всех частей изделия, например пояс, шнурок и тд.)</li>
          <li>Вещи должны иметь все фабричные ярылки, наклейки и прочие знаки отличия</li>
          <li>Изделия должны быть неношеными, нестиранными и не иметь следов использования</li>
          <li>Все товары должны быть возвращены в оригинальных упаковках</li>
        </ul>
        <p>Покупатель может самостоятельно вернуть не подошедший товар в фирменные пункты выдачи. <a href="#ordersinfo-return-locations">Список адресов.</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h3>Срок возврата товара</h3>
        <p>Срок возврата товара надлежащего качества составляет 21 день с момента получения товара.</p>
        <p>Причинами для возврата товара со стороны Покупателя могут быть следующие:</p>
        <ul>
          <li><p>Не подошел размер, фасон, цвет, длина и т.п.</p></li>
          <li><p>Оттенок полученного товара отличается от оттенка модели с фотографии на сайте</p></li>
        </ul>
        <p>Товар принимается назад только в полной комплектации, со всеми упаковками и наклейками, в непоношенном/неиспользованном виде.</p>
        <p>Качественные товары, не подлежащие обмену и возврату, указаны в Перечне, утвержденном постановлением Правительства РФ от 19 января 1998 г. № 55</p>
        <a href="https://www.wildberries.ru/services/besplatnaya-dostavka" class="text-decoration-none">Адреса пунктов выдачи (возврата) на сайте партнера</a>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <h3>Возврат денежных средств</h3>
        <p>Возможен в любом фирменном пункте самовывоза партнеров. Покупатель получает денежные средства при наличии документа, удостоверяющего личность (паспорт или документ, его заменяющий), и бланка-заявки, образец которого будет предоставлен Клиенту.</p>
        <p>В случае, если товар приобртен у дистрибьютора или на маркетплейсе, то применяются правила возврата товара соответствующего партнера.</p>
        <a href="https://www.wildberries.ru/services/besplatnaya-dostavka" class="text-decoration-none">Адреса пунктов выдачи (возврата) на сайте партнера</a>
      </div>
    </div>
  </div>
</section>