<section>
  <div class="container pt-3">
    <!-- <div class="row text-center pt-3 mb-3">
      <div class="col-12">
        <h3>Мы создаём одежду для людей, которые любят и ценят своё время</h3>
      </div>
    </div> -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="card-img-top"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_1.jpg'" 
          alt="TRIBES - это Актуально">
          <div class="card-body text-center">
            <h5>Вдохновение</h5>
            <p class="card-text text-lg">Мы помогаем людям стремиться к чему-то большему, шаг за шагом улучшая их повседневность. Наша одежда вызывает позитивный эмоциональный отклик, появляется чувство уверенности в своих силах и возможностях. Это и есть вдохновение, которое делает жизнь счастливой.</p>
            <!-- <h5 class="card-title">Актуально</h5> -->
            <!-- <p class="card-text">Вы не задумываетесь о том, что модно и стильно, потому что Вы знаете, одежда TRIBES всегда актуальная</p> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="rounded-0 hidden-sm-up" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_2.jpg'"
          alt="TRIBES - это Деликатно">
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Деликатно</h5> -->
            <!-- <p class="card-text">Вы выбираете только глазами, потому что наши вещи деликатны, это видно на фото. Мы позаботились обо всем заранее, выбрав из тысяч тканей именно лучшие</p> -->
            <h5>Качество</h5>
            <p class="card-text text-lg">Мы стремимся к совершенству, поэтому постоянно улучшаем нашу продукцию, чтобы удовлетворить Вас - наших самых требовательных клиентов.</p>
          </div>
          <img class="rounded-0 hidden-xs-down" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_2.jpg'"
          alt="TRIBES - это Деликатно">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="rounded-0" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_3.jpg'"
          alt="TRIBES - это Качественно">
          <div class="card-body text-center">
            <h5>Счастье</h5>
            <p class="card-text text-lg">
              Мы знаем, что наш долгосрочный успех зависит от счастья и лояльности наших клиентов. Понимая Вас и строя теплые отношения с Вами, мы можем делать то, что действительно делает Вас счастливыми, и позволяет Вам оставаться верными нашему бренду.
            </p>
            <!-- <h5 class="card-title">Качественно</h5>
            <p class="card-text">Вы просто заказываете все понравившиеся модели для примерки, потому что Вы уверены в качестве</p> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="rounded-0 hidden-sm-up" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_4.jpg'"
          alt="TRIBES - это Современно">
          <div class="card-body text-center">
            <!-- <h5 class="card-title">Современно</h5> -->
            <!-- <p class="card-text">Мы говорим на одном с Вами языке, потому что Вы - современный человек, и мы тоже. Нас с Вами связывают общие ценности, и самое дорогое, что есть у нас - это Время, наш общий самый дорогой ресурс</p> -->
            <h5>Работаем в долгую</h5>
            <p class="card-text text-lg">Мы мыслим глобально, но работаем локально, что делает нас более адаптивными и способными реагировать на Ваши запросы. Мы изучаем долгосрочные тренды и при этом быстро реагируем на изменения, чтобы удовлетворять постоянно меняющиеся потребности наших клиентов.</p>
          </div>
          <img class="rounded-0 hidden-xs-down" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_4.jpg'"
          alt="TRIBES - это Современно">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="rounded-0" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_5.jpg'"
          alt="TRIBES Всегда на связи">
          <div class="card-body text-center">
            <h5 class="card-title">Всегда на связи</h5>
            <p class="card-text text-lg">Мы слушаем и понимаем Вас, поэтому постоянно улучшаем наш сервис. Вы пишите нам комментарии, мы читаем и отвечаем каждому</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch px-0">
        <div class="card border-0">
          <img class="hidden-sm-up rounded-0"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_6.jpg'" 
          alt="TRIBES Online 24/7">
          <div class="card-body text-center">
            <h5 class="card-title">Online 24/7</h5>
            <p class="card-text text-lg">Мы всегда находимся рядом с Вами и доступны в любое время, потому что мы у Вас в смартфоне и на удобном и надежном портале</p>
          </div>
          <img class="hidden-xs-down rounded-0"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/card_6.jpg'" 
          alt="TRIBES Online 24/7">
        </div>
      </div>
    </div>
  </div>
</section>