<ng-container >
  <ngx-json-ld *rxLet="schema$ as schema" [json]="schema"></ngx-json-ld>
  <!-- Page Content-->
  <div class="container-fluid">
    <!-- Shop Toolbar-->
    <div class="row align-items-center justify-content-center pt-3 pb-3" >
      <!-- <div class="tagcloud06"> -->
        <!-- <ul *rxLet="category$ as currentCategory">
          <li *ngFor="let category of categories$ |async" >
            <a (click)="onSelectCategory(category.name)" class="me-2" [ngClass]="{'active': category.name === currentCategory }">
              <span>{{category.name}}</span>
            </a>
          </li>
        </ul> -->
      <!-- </div> -->
      
    </div>
    <!-- Products List -->
    <div class="row justify-content-md-center"> 
      <div class="col-12 col-lg-2 col-xl-2 mb-3">
        <select class="form-control" #selectCategory (change)="onSelectCategory(selectCategory.value)">
          <option value="all" [selected]="selectCategory.value=='all' || selectCategory.value == ''">Все категории</option>
          <option *ngFor="let category of categories$ | push" [value]="category.name" [selected]="category.name == category$ | push">
            {{category.name}}
          </option>
        </select>
        <div class="btn-group col-12" dropdown #dropdown="bs-dropdown" [autoClose]="true">
          <button id="button-basic" dropdownToggle  type="button" class="col-12 btn btn-color{{(color$ | push) || '00'}} dropdown-toggle " 
            data-bs-toggle="dropdown" aria-expanded="false">
            Цвет: {{colorDictionary[(color$ | push)] || 'Все цвета'}}
          </button>
          <ul *dropdownMenu id="dropdown-basic" aria-labelledby="button-basic" class="dropdown-menu col-12">
            <li class="pointer">
              <a (click)="onSelectColor(undefined)" class="dropdown-item">
                <span class="colorSelectorCircle00"></span>
                <span class="ps-2">Все цвета</span>
              </a>
            </li>
            <li class="pointer" *ngFor="let color of colorsPalette">
              <a (click)="onSelectColor(color.colorCode)" class="dropdown-item">
                <span class="colorSelectorCircle{{color.colorCode}}"></span>
                <span class="ps-2">{{color.colorTitle}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Product list -->
      <div class="col-sm-12 col-lg-10 col-xl-10">
        <div class="row" *rxLet="products$ as products">
          <div class="col-6 col-md-4 px-0 bg-white" *ngFor="let product of products">
            <tribes-products-list-item [isLoading]="isLoading$ | push" [product]="product"></tribes-products-list-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
  
  