<section class="pt-2">
  <tribes-section-divider [section]="'Реквизиты'" [h]="'h2'"></tribes-section-divider>
  <div class="container pt-2">
    <div class="row pb-2 align-items-center justify-content-center">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="img-wrapper">
          <img [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
            [lazyLoad]="staticAssetsUrl + 'static/img/about-company/hero-1.jpg'" 
            alt="seoData.description">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-2">
        <div class="row">
          <div class="col">
            <h5>Email</h5>
          </div>
          <div class="col">
            <h5>info@mytribes.ru</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><hr></div>
          <div class="col">
            <h5>Название</h5>
          </div>
          <div class="col">
            <h5>ООО "ТРАЙБС"</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><hr></div>
          <div class="col">
            <h5>ОГРН</h5>
          </div>
          <div class="col">
            <h5>1197746239426</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><hr></div>
          <div class="col">
            <h5>ИНН/КПП</h5>
          </div>
          <div class="col">
            <h5>7714442800 / 771401001</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12"><hr></div>
          <div class="col">
            <h5>Фактический адрес</h5>
          </div>
          <div class="col">
            <h5>125040, Россия, г. Москва, 3-го Ямского Поля, 20с1, офис 506</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
