@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/mixins';

.mainSlider {
  width: 100%;
  height: auto;
  z-index: unset;
  position: sticky;
  top: -10vh;
}
.variantsSlider{
  width: 100%;
  height: auto;
  z-index: unset;
  >.swiper-wrapper{
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  // width: 100%;
  object-fit: fill;
}

.variant-color-{
  &01{background-color: #ffffff ;}
  &02{background-color: #ffffff ;}
  &03{background-color: #120d0e ;}
  &04{background-color: #ffffff ;}
  &05{background-color: #ee331a ;}
  &06{background-color: #9f0e2c ;}
  &07{background-color: #834424 ;}
  &08{background-color: #ab7412 ;}
  &09{background-color: #f7f7e3 ;}
  &10{background-color: #a19f9f ;}
  &11{background-color: #fdd605 ;}
  &12{background-color: #fdfff5 ;}
  &13{background-color: #fbc3cd ;}
  &14{background-color: #244585 ;}
  &15{background-color: #477ce3 ;}
  &16{background-color: #fcff00 ;}
  &17{background-color: #368715 ;}
  &18{background-color: #ffbe00 ;}
  &19{background-color: #ffc800 ;}
  &20{background-color: #009473 ;}
  &21{background-color: #f08080 ;}
  &22{background-color: #b87333 ;}
  &23{background-color: #708238 ;}
  &24{background-color: #bf00ff ;}
  &25{background-color: #c0c0c0 ;}
  &26{background-color: #e5b6f7 ;}
  &27{background-color: #615e3e ;}
  &28{background-color: #f5f5dc ;}
  &29{background-color: #305db3 ;}
  &30{background-color: #183772 ;}
  &31{background-color: #244585 ;}
  &32{background-color: #e1c699 ;}
  &33{background-color: #ffdfe5 ;}
  &34{background-color: #444444 ;}
  &35{background-color: #b35642 ;}
  &36{background-color: #274788 ;}
  &37{background-color: #242526 ;}
  &38{background-color: #291c13 ;}
  &39{background-color: #cef100 ;}
  &40{background-color: #4d4d33 ;}
  &41{background-color: #623411 ;}
  &42{background-color: #9c4722 ;}
  &43{background-color: #a9d39e ;}
  &44{background-color: #4c3532 ;}
  &45{background-color: #99d8ae ;}
  &46{background-color: #f103f2 ;}
  &47{background-color: #09638e ;}
  &48{background-color: #a30a21 ;}
  &49{background-color: #998762 ;}
  &50{background-color: #f1c29b ;}
  &51{background-color: #2dcabd ;}
  &52{background-color: #eceee7 ;}
  &53{background-color: #ef8900 ;}
  &54{background-color: #fb861a ;}
  &55{background-color: #8eadcf ;}
  &56{background-color: #4f83bb ;}
  &57{background-color: #f7d493 ;}
  &58{background-color: #ec94b2 ;}
}






.img-modal {
  object-fit: contain;
  width: 100%;
}
::ng-deep .modal-dialog {
  margin: 0.75rem auto;
}
.panel-img {
  object-fit: contain;
}

.cursor-zoom-in {cursor: zoom-in;}
// Buttons
.sp-buttons {
  .btn {
    margin: 0;
    margin-left: 8px;

    &.btn-wishlist {
      width: $btn-sm-height;
      padding: 0;
      padding-left: 1px;
      border-radius: 50%;

      > i {
        font-size: 1.2em;
      }

      &.active {
        color: $brand-danger;
      }
    }
  }
}
.white-space-pre-line{
  white-space: pre-line;
}

.img-wrapper{
  position: relative!important;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: rgb(255 255 255 / 0.9);
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
}
.watch-video{
  font-size: 5vh;
  color: #ff0001;
}
// Product Gallery
.product-gallery, .product-gallery-mobile, .product-gallery-colors {
  position: relative;
  border: none;//1px solid $border-color;
  border-radius: 0;//$border-radius-lg;
  img { 
    max-height: 737px;
    object-fit: contain;
  }

  .product-badge {
    top: 25px;
    left: 15px;
  }
  
  .product-thumbnails, .product-thumbnails-colors, .product-thumbnails-vertical, .product-thumbnails-horizontal {
    display: block;
    margin: 0;
    margin-top: 7px;//$grid-vertical-step; //~24px
    padding: 0;
    list-style: none;
    text-align: center;
    max-height: 732px;

    > li {
      display: inline-block;
      margin: 0 3px 10px;

      > a {
        display: block;
        width: 150px;
        transition: border-color .25s;
        border: 1px solid $border-color;
        border-radius: $border-radius-base;
        overflow: hidden;
      }

      &.active > a {
        border-color: $brand-primary;
        cursor: default;
      }
    }
  }
  .product-thumbnails-vertical{
    overflow-x: hidden;
    overflow-y: auto;
  }
  .product-thumbnails-horizontal{
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
  }
  .product-thumbnails-small{
    max-height: 215px;
    padding-top: 5px;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .product-thumbnails-colors{
    max-height: 215px;
    padding-top: 5px;
    overflow-y: hidden;
    overflow-x: auto;

    > li { 
      > a {
        width: 70px;
      } 
    }
  }
}

// .product-gallery-mobile{
//   display: none;
// }
// @media (max-width: $screen-sm) {
//   .product-gallery-mobile {
//     display: block;
//   }
// }
// @media (max-width: $screen-sm) {
//   .product-gallery {
//     display: none;
//   }
// }
.product-gallery-colors{
  min-height: 108px;
  
  .product-colors-image {
    img {
      max-height: 150px;
    }
    padding-left: 5px;
    padding-right: 5px;

    &:first-child{
      padding-left: 0px;
      padding-right: 5px;
    }
    &:last-child{
      padding-left: 5px;
      padding-right: 0px;
    }
  }

  @media (min-width: $screen-md) {
    img {
      max-height:150px;
    }
  }
  @media (max-width: $screen-sm) {
    img {
      max-height:200px;
    }
  }
}

.carousel-item{
  margin: 0px;
  padding-right: 5px;
  padding-left: 5px;
}
.product-gallery-image {
  img {
    min-width: 100%;
    object-fit: cover;
  }

  &.ng-lazyloading {
    min-height: 200px;
  }
  @media (min-width: $screen-lg) {
    img{
      border-radius: 5px;
      height: 100%;
    }
  }
  @media (max-width: $screen-md) {
    img {
      border-radius: 0px;//5px 5px 0 0;
    }
  } 
}

.product-detail {

  &.ng-lazyloading {
      min-height: 200px;
  }
}

// IE10+ specific styles
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  .product-gallery .gallery-item { display: none !important; }
}
// Microsoft Edge specific styles
@supports (-ms-ime-align: auto) {
  .product-gallery .gallery-item { display: none !important; }
}

.sizes-container{
  margin-left: 5px;
}
.size-checkbox{
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding-left: 0;
}
.display-flex-inline{
  display: inline-flex;
}
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #dbe2e8;
  // border-radius: 50%;
  cursor: pointer;
  // height: 3em;
  left: 0;
  position: absolute;
  top: 0;
  width: 4em;
  padding: 0.7em;
  text-align: center;
  &.disabled{
    background-color: #dbe2e8!important;
    color: #fff;
    cursor: not-allowed;
  }
}
.reviews-product-image{
  border-radius: $border-radius-lg;
  height: 14vh;
}
// .round label:after {
//   border: 2px solid #fff;
//   border-top: none;
//   border-right: none;
//   content: "";
//   height: 6px;
//   left: 7px;
//   opacity: 0;
//   position: absolute;
//   top: 8px;
//   transform: rotate(-45deg);
//   width: 12px;
// }

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: $brand-primary;
  border-color: $brand-danger;
  color: $white-color;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


.horizontal-scrollable > div { 
  overflow-x: auto; 
  white-space: nowrap; 
} 

.horizontal-scrollable > div > .col-xs-4 { 
  display: inline-block; 
  float: none; 
  
  &:first-child{
    a >img {
      margin:0px 3px 0px 0px;
    }
  }
  > a {
    > img {
      width: 80px;
      margin: 0px 2px 0px 3px;
    }
  }
  &:last-child{
    a >img {
      margin:0px 0px 0px 2px;
    }
  }
} 


/////new styles

.flicking{
  overflow: hidden;
  position: -webkit-sticky!important;
  position: sticky!important;
  top: -10vh;
}
.flicking-arrow{
  &-prev, &-next{
    top: unset !important;
    bottom: 0% !important;
    height: 30px !important;
    &::before, &::after{
      width: 16px!important;
      height: 5px!important;
    }
  }
}

.leftRs,.rightRs{
  z-index: 10;
  background-color: #fff0;
  box-shadow: none;
  font-size: 1rem;
  border: none;
  &:hover{
    border: none;
    background-color: #fff0;
  }
}

.testimonial-group{
  background-color: rgba(255, 255, 255, .85);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 -10px 1rem 0px rgb(0 0 0 / 10%);
  > .thumbnails {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center!important;
    // height: 18vh; //100%;
    > .col-1, .col-2, .col-3, .col-4 {
      display: inline-block;
    }
  }
  .thumbnail{
    background-color: #fff0;
  }
} 


.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin-x: 100%;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}