
<div class="row justify-content-md-center minheight-80" *ngIf="!(item$ | push)">
  <div class="col-12 text-center align-self-center" *rxLet="cameraState$ as state">
    <button *ngIf="state===0 || state===1 || state===3 " (click)="onToggle()" class="btn btn-secondary">Запустить сканирование кода</button>
    <button *ngIf="state===2" (click)="onToggle()" class="btn btn-secondary">Пауза</button>
  </div>
  <div class="col-12 col-md-6" id="reader"></div>
</div>
<div class="row" *rxLet="item$ as item">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-0">
    <div class="testimonial-group">
      <div class="row text-center">
        <tribes-rating-stars *ngIf="item?.barcode?.product?.rating! > 3" [rating]="item?.barcode?.product?.rating!" [size]="'large'"></tribes-rating-stars> 
        <h2 class="text-normal">{{ item?.barcode?.product?.title }}</h2>
      </div>

      <!-- Product Info-->
      <div class="row">
        <div class="col-md-12 mt-2"></div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
          <p class="white-space-pre-line text-lg">{{item?.barcode?.product?.description}}</p>
          
          <span class="text-lg">Состав:
            <p *ngFor="let material of item?.barcode?.product?.materials" class="d-inline">
              {{material.material}} {{material.quantity}}%&nbsp;
            </p>
          </span>
          <p class="text-lg">Цвет модели: {{ colorsDict(item?.barcode?.product?.color || '00')}}</p>
          <button class="btn btn-outline-primary" (click)="scrollTo('reviews')" *ngIf="item?.barcode?.product?.reviews">Отзывы</button>
          <button class="btn btn-outline-primary" (click)="scrollTo('sku-properties')">Характеристики</button>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
