
<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">Информация о заказе</h5>
    <table class="table">
      <tr>
        <td>Стоимость товаров:</td>
        <td class="text-medium">{{cartSubtotal}}&nbsp;руб.</td>
      </tr>
      <tr>
        <td>Доставка:</td>
        <td class="text-medium">{{shipping }}&nbsp;руб.</td>
      </tr>
      <tr>
        <td>Итого:</td>
        <td class="text-lg text-medium">{{orderTotal}}&nbsp;руб.</td>
      </tr>
    </table>
  </div>
</div>

  <!-- <div class="padding-top-2x hidden-lg-up"></div>

  <section class="widget widget-order-summary">
    <h3 class="widget-title"></h3>
    <table class="table">
      <tr>
        <td>Стоимость товаров:</td>
        <td class="text-medium">{{cartSubtotal}}&nbsp;руб.</td>
      </tr>
      <tr>
        <td>Доставка:</td>
        <td class="text-medium">{{shipping }}&nbsp;руб.</td>
      </tr>
      <tr>
        <td>Итого:</td>
        <td class="text-lg text-medium">{{orderTotal}}&nbsp;руб.</td>
      </tr>
    </table>
  </section>
</aside> -->

