<!-- Page Content-->
<div class="card border-0 text-dark text-center">
    <!-- <ngx-flicking
      class="flicking flicking-viewport"
      [plugins]="plugins"
      [options]="{
        circular: false, 
        align: 'prev',
        noPanelStyleOverride: true,
        panelsPerView: 1,
        resizeOnContentsReady: true
       }"> -->

      <!-- <div flicking-panel class="panel col-12" *ngFor="let item of product_variants;"> -->
        <a routerLink="/product/{{product.sku}}">
          <img 
          src="{{product.coverImage}}" 
          alt="{{product.title}}&nbsp;{{product.description}}&nbsp;{{product.sku}}"
          class="panel-img"
          draggable=false
          >
        </a>
      <!-- </div> -->
      <!-- <div in-viewport class="flicking-pagination"></div>
      <span in-viewport class="flicking-arrow-prev"></span>
      <span in-viewport class="flicking-arrow-next"></span> -->
    <!-- </ngx-flicking> -->
  <div class="card-body">
    <h4 class="card-title">
      <a class="text-dark text-decoration-none" routerLink="/product/{{product.sku}}">{{product.title}}</a>
    </h4>
    <p class="card-text text-center">
      <tribes-price [priceSale]="product.priceSale" [sku]="product.sku" [priceBase]="product.priceBase" [count]="1">
      </tribes-price></p>
    <p class="card-text text-center d-inline" *ngFor="let barcode of product.barcodes">
      {{barcode.size}}
    </p>
    <a class="btn btn-outline-primary btn-sm" routerLink="/product/{{product.sku}}" >👉Подробнее</a>
  </div>
</div>

