<h4>Выберите метод доставки</h4>
<hr class="pb-1">
<form [formGroup]="formShipping">
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Метод доставки</th>
          <th>Доставка</th>
          <th>Стоимость</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shippingMethod of shippingMethods">
          <td class="align-middle">
            <label class="custom-control custom-radio">
              <input class="form-control-radio" 
                type="radio" 
                name="shippingMethod" 
                value="{{shippingMethod.value}}" 
                (change)="updateCosts($event)"
                formControlName="shippingMethod">
                <span class="pl-3">{{shippingMethod.method}}</span>
            </label>
           
          </td>
          <td class="align-middle">{{shippingMethod.time}}</td>
          <td class="align-middle">{{shippingMethod.fee}}&nbsp; руб.</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<app-checkout-footer [buttons]="['back', 'continue']" (back)="onBack()" (continue)="onContinue()" [continueEnabled]="formShipping.valid"></app-checkout-footer>
