<div class="container pb-2">
  <div class="row">
    <div class="col-xl-9 col-lg-8">
      <!-- <div class="mt-3"></div>
      <div class="checkout-steps">
        <button (click)="scrollToTop()" [ngClass]="{'active': i === activeStep, 'active-sibling': i === activeStep-1}" *ngFor="let step of steps; let i = index">
          <span class="angle" *ngIf="i < steps.length-1"></span>
          {{step}}
        </button>
      </div> -->


      <tribes-checkout-address></tribes-checkout-address>
      <!-- <tribes-checkout-shipping [ngClass]="{'d-none': activeStep !== 1}"></tribes-checkout-shipping>
      <tribes-checkout-payment [ngClass]="{'d-none': activeStep !== 2}"></tribes-checkout-payment>
      <tribes-checkout-review [ngClass]="{'d-none': activeStep !== 3}"></tribes-checkout-review> -->

    </div>
    <div class="col-xl-3 col-lg-4">
      <tribes-checkout-sidebar></tribes-checkout-sidebar>
    </div>
  </div>
</div>
