<div class="container">
 <div class="row align-items-center justify-content-center categories">
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/warm-hoodies.jpg'" alt="Для нее и для него | Теплые худи и толстовки TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/hoodies">👉Худи и толстовки</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/sundresses.jpg'" alt="Для нее | летние сарафаны TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/sundresses">👉Сарафаны</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/turtlenecks.jpg'" alt="Для нее | водолазки TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/turtlenecks">👉Водолазки</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/dresses.jpg'" alt="Для нее | платья TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/dresses">👉Платья</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/skirts.jpg'" alt="Для нее | юбки TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/skirts">👉Юбки</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/shorts.jpg'" alt="Для нее | шорты TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/shorts">👉Шорты</a>
       </div>
     </div>
   </div>
   <div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 p-1">
     <div class="card border-0 text-white text-center">
       <img class="card-img category-image" [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'" [lazyLoad]="staticAssetsUrl + 'static/img/home/categories/ecoleather-skirts.jpg'" alt="Для нее | кожаные юбки TRIBES">
       <div class="card-img-overlay">
         <a class="btn btn-light btn-cta btn-lg" routerLink="/catalog/skirts">👉Кожаные юбки</a>
       </div>
     </div>
   </div>
 </div>
</div>