<!-- Site Footer-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title" data-nosnippet>Информация:</h3>
          <p class="text-white">{{slogan}}</p>
          <p class="text-white">{{description}}</p>
          <p class="text-white" data-nosnippet>Товарные знаки
            <img src="{{staticAssetsUrl}}static/img/logo/logo_tribes_white.svg" data-src="{{staticAssetsUrl}}static/img/logo/logo_tribes_white.svg" class="logo-small" alt="TRIBES — стиль большого города">®</p>
            <img src="{{staticAssetsUrl}}static/img/logo/logo_tribes_2.svg" data-src="{{staticAssetsUrl}}static/img/logo/logo_tribes_2.svg" class="logo-small" alt="TRIBES — стиль большого города">
            <p class="text-white" data-nosnippet>
            ООО Трайбс 2019 - 2022
            <br>
            ОГРН 1197746239426 
            <br>
            ИНН 7714442800
            <br>
            г. Москва, 3-го Ямского Поля, 20с1
          </p>
          <!-- Copyright-->
          <p class="text-white" data-nosnippet>© Все права защищены &nbsp;
          </p>
        </section>
      </div>
      <div class="col-lg-3 col-md-6" data-nosnippet>
        <section class="widget widget-light-skin align-items-center text-center">
          <h3 class="widget-title">Социальные сети</h3>
          <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://facebook.com/tribesofficial">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-twitter sb-light-skin" href="https://twitter.com/TRIBES_Official">
            <i class="socicon-twitter"></i>
          </a>
          <a class="social-button shape-circle sb-instagram sb-light-skin" href="https://www.instagram.com/tribes_brand/">
            <i class="socicon-instagram"></i>
          </a>
          <a class="social-button shape-circle sb-pinterest sb-light-skin" href="https://www.pinterest.ru/tribes_brand/pins/">
            <i class="socicon-pinterest"></i>
          </a>
        <!--           
          <a class="market-button mb-light-skin" href="https://wb.ru/brands/tribes" target="_blank">
            <span class="mb-subtitle">Заказать на</span>
            <span class="mb-title">Wildberries</span>
          </a> -->
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">О нас</h3>
          <ul>
            <li>
              <a routerLink="/about-tribes-brand">О Бренде TRIBES®</a>
            </li>
            <li>
              <a routerLink="/about-company">Реквизиты компании</a>
            </li>
            <li>
              <a routerLink="/contacts">Сотрудничество</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Account / Shipping Info-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">Профиль &amp; Информация</h3>
          <ul>
            <li>
              <a routerLink="/orders-payment-info">Оплата заказа и доставка</a>
            </li>
            <li>
              <a routerLink="/returns-and-refunds">Условия возврата товаров и денег</a>
            </li>
            <li>
              <a routerLink="/policy" >Политика конфиденциальности </a>
            </li>
            <li>
              <a routerLink="/sizes">Размерная сетка</a>
            </li>
            <li>
              <a routerLink="/support">Поддержка</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hr-light pt-2 pb-2">
    <div class="row">
      <div class="col-md-7 pb-1">
        <div class="mb-1" style="max-width: 615px;">
          <img src="{{staticAssetsUrl}}static/img/payment_methods.png" alt="Payment Methods">
        </div>
      </div>
      <div class="col-md-5 pb-1"></div>
    </div>
  </div>
</footer>
