<!-- Main Navigation-->
<!-- <nav class="site-menu" data-nosnippet>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">
                <span>Главная</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/women/catalog">
                <span>🛍Женщины</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/men/catalog">
                <span>Мужчины</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/orders-payment-info">
                <span>Оплата и доставка</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/about-tribes-brand">
                <span>О Бренде</span>
            </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/cart" href="">
                <span>🛒Корзина</span>
            </a>
        </li>
    </ul>
</nav> -->
