<!-- Off-Canvas Mobile Menu-->
<!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">Toggle top offcanvas</button> -->

<!-- <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" [ngClass]="{'offcanvas-open': offcanvasService.offcanvasNavigationOpen | async}">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Offcanvas top</h5>
    <button type="button" (click)="close($event)" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    ...
  </div>
</div> -->
<!-- <div data-nosnippet class="offcanvas-container" id="mobile-menu" [ngClass]="{'active': offcanvasService.offcanvasNavigationOpen | async}">
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span>
          <a routerLink="/" (click)="onNavigationClick()">
            <span>Главная</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/women/catalog" (click)="onNavigationClick()">
            <span>🛍Женщины</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/men/catalog" (click)="onNavigationClick()">
            <span>Мужчины</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/about-tribes-brand" (click)="onNavigationClick()">
            <span>💝О Бренде</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/orders-payment-info" (click)="onNavigationClick()">
            <span>Оплата и доставка</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/cart" (click)="onNavigationClick()">
            <span>🛒Корзина</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/sizes" (click)="onNavigationClick()">
            <span>Размерная сетка</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/support" (click)="onNavigationClick()">
            <span>Поддержка</span>
          </a>
        </span>
      </li>

    </ul>
    <section class="widget widget-light-skin align-items-center text-center padding-top-3x">
      <a class="social-button shape-circle sb-facebook sb-light-skin" href="https://facebook.com/tribesofficial">
        <i class="socicon-facebook"></i>
      </a>
      <a class="social-button shape-circle sb-twitter sb-light-skin" href="https://twitter.com/TRIBES_Official">
        <i class="socicon-twitter"></i>
      </a>
      <a class="social-button shape-circle sb-instagram sb-light-skin" href="https://www.instagram.com/tribes_brand/">
        <i class="socicon-instagram"></i>
      </a>
      <a class="social-button shape-circle sb-pinterest sb-light-skin" href="https://www.pinterest.ru/tribes_brand/pins/">
        <i class="socicon-pinterest"></i>
      </a>
    </section>
  </nav>
</div> -->
