<div class="container pb-2">
  <div class="card text-center">
    <div class="card-body padding-top-2x">
      <h3 class="card-title">Спасибо за Ваш заказ!</h3>
      <p class="card-text">Ваш заказ был принят и мы обработаем его в ближайшее время.</p>
      <p class="card-text">Скоро Вы получите подтверждение заказа на Вашу электронную почту (email). 
        <br> Счастливого Вам дня! 
        <br> С любовью и заботой о Вас, команда TRIBES
      </p>
      <div class="pb-1 pt-1">
        <a class="btn btn-outline-secondary" routerLink="/catalog">Продолжить покупки</a>
      </div>
    </div>
  </div>
</div>
