<section>
  <!-- <tribes-section-divider [section]="'Размерная сетка'" [h]="'h2'"></tribes-section-divider> -->
  <div class="container pb-2 pt-2">
    <div class="row mb-3">
      <div class="col-12 card">
        <div class="card-body">
          <h2 class="card-title pb-2">Размерная сетка</h2>
          <p class="text-lg pb-2">
            Для Вашего комфорта при примерке заказанной одежды мы рекомендуем Вам снять мерки, и перед измерением обязательно наденьте то белье, которое Вы планируете носить с этим изделием. Выпрямитесь, расправьте плечи. Для того, чтобы наиболее точно определить линию талии, нагнитесь сначала вправо, а затем влево - точки сгиба покажут ее расположение. Снимайте мерки только по выступающим точкам (грудь и бедра). Не втягивайте живот и не выгибайтесь. Сантиметровая лента должна не стягивать кожу и не висеть, а прилегать плотно. Если Ваш размер является чем-то средним между двумя, то выбирайте вещь большего размера. 
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8 order-0">
        <h3 class="h2 text-center">Женская одежда</h3>
        <br>
        <p>В таблице содержатся данные о размерах женской одежды и указаны измерения, на которые стоит ориентироваться при покупке.</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Россия (RU)</th>
                <th scope="col">Международный (Int)</th>
                <th scope="col">Европа (EU)</th>
                <th scope="col">США (US)</th>
                <th scope="col">Обхват груди (см)</th>
                <th scope="col">Обхват талии (см)</th>
                <th scope="col">Обхват бедер (см)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">40</th>
                <td>XS</td>
                <td>34</td>
                <td>6</td>
                <td>80</td>
                <td>62</td>
                <td>86</td>
              </tr>
              <tr>
                <th scope="row">42</th>
                <td>S</td>
                <td>36</td>
                <td>8</td>
                <td>84</td>
                <td>66</td>
                <td>92</td>
              </tr>
              <tr>
                <th scope="row">44</th>
                <td>M</td>
                <td>38</td>
                <td>10</td>
                <td>88</td>
                <td>70</td>
                <td>96</td>
              </tr>
              <tr>
                <th scope="row">46</th>
                <td>M</td>
                <td>40</td>
                <td>12</td>
                <td>92</td>
                <td>74</td>
                <td>100</td>
              </tr>
              <tr>
                <th scope="row">48</th>
                <td>L</td>
                <td>42</td>
                <td>14</td>
                <td>96</td>
                <td>78</td>
                <td>104</td>
              </tr>
              <tr>
                <th scope="row">50</th>
                <td>L</td>
                <td>44</td>
                <td>16</td>
                <td>100</td>
                <td>82</td>
                <td>108</td>
              </tr>
              <tr>
                <th scope="row">52</th>
                <td>XL</td>
                <td>46</td>
                <td>18</td>
                <td>104</td>
                <td>86</td>
                <td>112</td>
              </tr>
              <tr>
                <th scope="row">54</th>
                <td>XXL</td>
                <td>48</td>
                <td>20</td>
                <td>108</td>
                <td>90</td>
                <td>116</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <p>Рекомендуется снять мерки. Перед измерением обязательно наденьте то белье, которые вы планируете носить с этим изделием. Выпрямитесь, расправьте плечи. Для того, чтобы наиболее точно определить линию талии, нагнитесь сначала вправо, а затем влево - точки сгиба покажут ее расположение. Снимайте мерки только по выступающим точкам (грудь и бедра). Не втягивайте живот и не выгибайтесь. Сантиметровая лента должна не стягивать кожу и не висеть, а прилегать плотно. Если ваш размер является чем-то средним между двумя, то выбирайте вещь большего размера. 
        </p> -->
      </div>
      <div class="col-lg-4 col-xl-4 d-none d-lg-block order-1">
        <img 
          [lazyLoad]="staticAssetsUrl + 'static/img/sizes/women-sizes.png'"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          alt="Женская размерная сетка | TRIBES — стиль большого города">
      </div>
    </div>
    <!-- <div class="row" *ngIf="cross_sale_women.length>0">
      <div class="col-md-12 mt-2">
        <tabset #productsCrossSale>
          <tab heading="Вам может понравится:" id="tab2">
            <div class="row">
              <tribes-product-crosssale *ngFor="let product of cross_sale_women" [product]="product" [ref]="cross_sale_women.sku" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-0">
              </tribes-product-crosssale>
            </div>
          </tab>
        </tabset>
      </div>
    </div> -->
    <!-- Men -->
    <div class="row mt-3 mb-3">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 order-0">
        <h3 class="h2 text-center">Мужская одежда</h3>
        <br>
        <p>В таблице содержатся данные о размерах мужской одежды и указаны измерения, на которые стоит ориентироваться при покупке.</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Россия (RU)</th>
                <th scope="col">Международный (Int)</th>
                <th scope="col">Европа (EU)</th>
                <th scope="col">США (US)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">46</th>
                <td>S</td>
                <td>46</td>
                <td>36</td>
              </tr>
              <tr>
                <th scope="row">48</th>
                <td>M</td>
                <td>48</td>
                <td>38</td>
              </tr>
              <tr>
                <th scope="row">50</th>
                <td>L</td>
                <td>50</td>
                <td>40</td>
              </tr>
              <tr>
                <th scope="row">52</th>
                <td>XL</td>
                <td>52</td>
                <td>42</td>
              </tr>
              <tr>
                <th scope="row">54</th>
                <td>XXL</td>
                <td>54</td>
                <td>44</td>
              </tr>
              <tr>
                <th scope="row">56-58</th>
                <td>XXXL</td>
                <td>56-58</td>
                <td>46-48</td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <!-- <p>Футболки и майки.</p>
        <table class="table table-striped border">
          <thead>
            <tr>
              <th scope="col">Россия (RU)</th>
              <th scope="col">Международный (Int)</th>
              <th scope="col">Европа (EU)</th>
              <th scope="col">США (US)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">37</th>
              <td>S</td>
              <td>37</td>
              <td>141/2</td>
            </tr>
            <tr>
              <th scope="row">38</th>
              <td>S</td>
              <td>38</td>
              <td>15</td>
            </tr>
            <tr>
              <th scope="row">39 - 40</th>
              <td>M</td>
              <td>39-40</td>
              <td>15 1/2</td>
            </tr>
            <tr>
              <th scope="row">41</th>
              <td>L</td>
              <td>41</td>
              <td>16</td>
            </tr>
            <tr>
              <th scope="row">42</th>
              <td>L</td>
              <td>42</td>
              <td>16 1/2</td>
            </tr>
            <tr>
              <th scope="row">43</th>
              <td>L</td>
              <td>43</td>
              <td>17</td>
            </tr>
            <tr>
              <th scope="row">44</th>
              <td>XL</td>
              <td>44</td>
              <td>17 1/2</td>
            </tr>
            <tr>
              <th scope="row">45</th>
              <td>XXL</td>
              <td>45</td>
              <td>18</td>
            </tr>
          </tbody>
        </table>  -->
      </div>
      <div class="col-lg-4 col-xl-4 d-none d-lg-block order-1">
        <img 
          [lazyLoad]="staticAssetsUrl + 'static/img/sizes/men-sizes.png'"
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          alt="Мужская размерная сетка | TRIBES — больше своего времени">
      </div>
    </div>
    <!-- Cross sale widget-->
    <!-- <div class="row" *ngIf="cross_sale_men.length>0">
      <div class="col-md-12 mt-2">
        <tabset #productsCrossSale>
          <tab heading="Вам может понравится:" id="tab2">
            <div class="row">
              <tribes-product-crosssale *ngFor="let product of cross_sale_men" [product]="product" [ref]="cross_sale_men.sku" class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 px-0">
              </tribes-product-crosssale>
            </div>
          </tab>
        </tabset>
      </div>
    </div> -->
  </div>
</section>