@import '../../../scss/helpers/variables';
@import '../../../scss/helpers/mixins';

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

// reviews Slider
.reviews-slider {
  width: 100%;
  min-height: $reviews-slider-min-height;
  background: {
    position: center;
    // color: $gray-lighter;
    repeat: no-repeat;
    size: cover;
  }
  overflow: hidden;

  @media (max-width: 1100px) {
    min-height: $reviews-slider-min-height - 150;
  }
}


.reviews-slider {
    position: relative;
}

.reviews-slider-prev,
.reviews-slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: #ffffff;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border: 1px solid #e1e7ec;
    color: #374250;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
}

.reviews-slider-prev {
    left: 70px;

    &::before {
      font: {
        family: feather;
        size: 19px;
      }
      color: #374250;
      content: '\e094';
    }
}

.reviews-slider-next {
    right: 70px;

    &::before {
        font-family: feather;
        font-size: 19px;
        color: #374250;
        content: '\e095';
    }
}

.reviews-slider-dots {
    position: absolute;
    bottom: 0;
    margin: 0;
    text-align: center;
    transform: translateX(-50%);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color:  rgba(96, 105, 117, 0);;
    display: inline-block;
    left: 50%;
    width: auto;
    padding: 10px 22px 14px;
}

.reviews-slider-dot {
    cursor: pointer;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 6px;
    transition: opacity .25s;
    border-radius: 50%;
    background-color: $gray-dark;
    opacity: 0.5;

    &.active {
        opacity: 1;
    }
}

.reviews-product-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 500px;
  &.ng-lazyloading {
      min-height: 200px;
      min-width: 200px;
  }
}