<div class="offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel" [ngClass]="{'showSearchBox': showSearch$ | push}">
  <div class="offcanvas-header">
    <h5 id="offcanvasTopLabel">Поиск по каталогу:</h5>
    <input #searchTerm class="form-control form-control" 
      type="text" 
      autofocus (input)="searchTerm$.next(searchTerm.value)" placeholder="Введите для поиска..."
      aria-label="Поиск">
    <button type="button" (click)="toggleSearch$.next(false)" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" *rxLet="products$ as products">
    <div class="row pb-2" *ngFor="let product of products">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <a class="product-thumb align-top " 
          routerLink="/product/{{product.sku}}"
          (click)="toggleSearch$.next(false)">
          <img [defaultImage]="placeholderImage" 
               [lazyLoad]="product.coverImage"  
               alt="{{product.title}}"/>
        </a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h4 class="product-title">
          {{product.title}}
        </h4>
        <h4 class="product-price"><tribes-price [priceBase]="product.priceBase!" [priceSale]="product.priceSale!"></tribes-price></h4>
        <p class="hidden-xs-down">{{product.description}}</p>
        <div class="text-center">
          <a routerLink="/product/{{product.sku}}" 
            class="btn btn-primary"
            (click)="toggleSearch$.next(false)">
            Подробнее
          </a>
        </div>
      </div>
    </div>
  </div>
</div>