<app-brand-advantages></app-brand-advantages>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 mt-3 p-3" id="history">

      </div>
    </div>
  </div>
</section>
<app-section-divider class="" [section]="seoData.defaultBrandTitle" [h]="'h3'"></app-section-divider>

<section>
  <div class="container pt-3 pb-3">
    <div class="card border-0">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <img class="w-100" 
              [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
              [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/hero_1.jpg'" 
              alt="История бренда TRIBES">
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class="card-block">
            <h5 class="card-title">История бренда</h5>
            <p class="card-text">Все началось с идеи создать классную базовую коллекцию, которая станет стандартом.</p>
            <p class="card-text">
              Потому-что именно качественного базиса было мало. 
              Сложнее создания вещи, которая так естественно встраивается в жизнь человека, что даже не обратить внимание насколько органично выглядит образ, оказывается только сделать такую вещь доступной. 
            </p>
            <p>Одежда дополняет и это происходит незаметно, почти неуловимо, освобождает от лишних решений и дарит время подумать о другом.
              Дизайн и лекала создаются на наших Apple MacBook Pro и отрабатываются вручную на профессиональных манекенах Royal Dress Forms.</p>
            <p>Наше особое отношение к деталям стало стандартом для наших клиентов, потому-что знают - мы подумали и позаботились об этом заранее.
              Нам удалось создать продукты, которые вызывают удивительные эмоции.
            </p>
            <p>Забота о клиенте, предвосхищение и детали - вот как мы создаем для клиентов Больше своего времени.</p>
            <p>Так началась история бренда TRIBES.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pt-3 pb-3">
    <div class="card border-0">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 hidden-sm-up">
          <img class="w-100" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/hero_2.jpg'" 
          alt="Сервис TRIBES удобен">
        </div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <div class="card-block p-2">
            <h5 class="card-title">Для удобства</h5>
            <p>Заказать модели можно в любом городе России, Белоруссии и Казахстана. Доставку изделий осуществляют компании-партнеры.</p>
            <p>Для Вашего комфорта мы организовали бесконтактную доставку до двери курьером и до пунктов выдачи заказов с примерочными в более 7000 фирменных пунктах в России и СНГ.</p>
            <p>Удобная примерка вещей в уютном для вас месте — дома или в пунктах выдачи.</p>
          </div>
        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 hidden-xs-down">
          <img class="w-100" 
          [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
          [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/hero_2.jpg'" 
          alt="Сервис TRIBES удобен">
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container pt-3 pb-3">
    <div class="card border-0">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <img class="w-100" 
            [defaultImage]="staticAssetsUrl + 'static/img/spinners/spinner-1.svg'"
            [lazyLoad]="staticAssetsUrl + 'static/img/about-brand/hero_3.jpg'" 
            alt="Одежда бренда TRIBES качественная и в тренде">
        </div>
        <div class="col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
          <div class="card-block p-2">
            <h5 class="card-title">Тренды и качество</h5>
            <p>Мы сотрудничаем с российскими дизайнерами и талантливыми конструкторами, чтобы создавать модные образы, которые подходят по фигуре нашим соотечественникам, учитывают национальные особенности фигур.</p>
            <br>
            <p>При выборе материалов для пошива мы руководствуемся тремя принципами — приятная на ощупь, качество и стиль. Мы сотрудничаем со многими поставщиками и в финале получаем стильные модели, которые удачно сочетаются с другими вещами, и которые приятно носить.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container pt-3 pb-3">
    <div class="row card">
      <!-- <div class="col-1"></div> -->
      <div class="col-12 col-sm-12 col-md-10 col-lg-12 col-xl-12 text-center p-2">
        <h3>Стандарты качества</h3>
        <br>
        <p>Наша компания работает в России, поэтому мы используем стандарты качества применимые в России и Евразийском Союзе, на каждую товарную группу мы проводим испытания образцов одежды и получаем официальные результаты на соответствие гигиеническим, экологическим и стандартам безопасности продукции в соответствии с жесточайшими требованиями законодательства. Все наши поставщики материалов проходят сертификацию на безопасность и имеют соответствующие документы.</p>
        <br>
        <p><strong>Продукция имеет зарегистрированные документы соответствия «О безопасности продукции легкой промышленности» (ТР ТС 017/2011) Таможенного союза на все группы товаров и на все составы материалов.</strong></p>
        <p><strong>Торговый знак <img src="{{staticAssetsUrl}}static/img/logo/logo_tribes_woodmark.svg" data-src="{{staticAssetsUrl}}static/img/logo/logo_tribes_woodmark.svg" class="custom-logo" alt="TRIBES — стиль большого города"> является зарегистрированным товарным знаком. </strong></p>
        <br>
        <p>Подделка продукции, контрафакт и неправомерное использование знака преследуется по закону.</p>
        <br>
        <img src="{{staticAssetsUrl}}static/img/about-brand/eac.svg" data-src="{{staticAssetsUrl}}static/img/about-brand/eac.svg" class="eac" alt="Сертифицированная продукция">
      </div>
      <!-- <div class="col-1"></div> -->
    </div>
  </div>
</section>
